# Java build output
/target/
/bin/
/build/
/out/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# IDE / editor metadata
.classpath
.project
/.settings/
/.idea/
.vscode/

# logs
/logs/
*.log

# OS files
.DS_Store
Thumbs.db
